$_text_color: #090909;
$_title_color: #e61e78;
$_bg_basic_color: #ffedfe;
$_primary_blue_color: #b3e7ff;
$_secondary_blue_color: rgba(228, 246, 255, 0.9);
$_additional_blue_color: rgba(228, 246, 255, 0.6);
$_white_color: #fafbff;
$_stroke_button_blue_color: #dcefff;
$_stroke_button_grey_color: #bbb;
$_stroke_clouds_color: #251d78;
$_stars_color: #fc8905;
$_violet_for_FAQ_color: #d9e4ff;
$_question_text_default_color: #181351;
$_question_text_selected_color: #0b008d;
