<section class="about" id="about">
  <div class="container about-container">
    <h2 class="about-title">About the Game</h2>
    <p class="about-text">
      "Candy Match 3" invites players into a vibrant and colorful match-3 puzzle
      game where they must match candies to achieve various goals within a set
      number of moves.<br /><br />
      Each level offers unique challenges that test your problem-solving skills
      with delicious twists.<br /><br />
      The game is set in a fantastical candy universe, where each chapter
      unveils part of an engaging story.<br /><br />
      Players can look forward to exploring a vast array of environments, each
      beautifully designed with eye-catching graphics and animations that make
      the gameplay not only challenging but also visually pleasing.<br /><br />
      Strategic elements are woven throughout, as players must think ahead to
      optimize their moves and reach high scores.<br /><br />
      Additionally, "Candy Match 3" includes social features that allow players
      to compete with friends and climb leaderboards.<br /><br />
      Additionally, "Candy Match 3" includes social features that allow players
      to compete with friends and climb leaderboards.
    </p>
    <img
      class="about-character"
      src="./img/about/img-desk@1x.png"
      srcset="./img/about/img-desk@2x.png 2x"
      alt="A cute cartoon-style character with bear-like hairdo."
      width="160"
      height="152"
    />
  </div>
</section>
