<section class="benefits" id="benefits">
  <div class="container benefits-container">
    <h2 class="benefits-title">Benefits</h2>

    <div class="benefits-wrapper">
      <p class="benefits-description">
        Jump into a world of sweet surprises in "Candy Match 3"!<br /><br />Combine
        delicious candies, solve puzzles, and traverse through countless
        delightful levels.<br /><br />Get ready to experience the ultimate candy
        adventure today!
      </p>

      <div class="benefits-clouds-container">
        <div class="benefits-cloud-box benefits-cloud-top">
          <div class="benefits-star">4,8</div>
        </div>

        <div class="benefits-cloud-box benefits-cloud-right">
          <div class="benefits-online-offline-container">
            <picture class="benefits-online-image">
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/benefits/online-desk@1x.png,
                  ./img/benefits/online-desk@2x.png 2x
                "
              />
              <img
                src="./img/benefits/online-mob@1x.png"
                srcset="
                  ./img/benefits/online-mob@1x.png,
                  ./img/benefits/online-mob@2x.png 2x
                "
                alt="Online connection icon"
              />
            </picture>

            <picture class="benefits-offline-image">
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/benefits/offline-desk@1x.png,
                  ./img/benefits/offline-desk@2x.png 2x
                "
              />
              <img
                src="./img/benefits/offline-mob@1x.png"
                srcset="
                  ./img/benefits/offline-mob@1x.png,
                  ./img/benefits/offline-mob@2x.png 2x
                "
                alt="Offline connection icon"
              />
            </picture>
          </div>
          <p class="benefits-online-offline-text">Online / Offline </p>
        </div>

        <div class="benefits-cloud-box benefits-cloud-bottom">
          <picture class="benefits-reviews-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/benefits/reviews-desk@1x.png,
                ./img/benefits/reviews-desk@2x.png 2x
              "
            />
            <img
              src="./img/benefits/reviews-mob@1x.png"
              srcset="
                ./img/benefits/reviews-mob@1x.png,
                ./img/benefits/reviews-mob@2x.png 2x
              "
              alt="Reviews icon"
            />
          </picture>
          <p class="benefits-reviews-title">Reviews</p>
          <p class="benefits-reviews-number">1000 +</p>
        </div>

        <div class="benefits-cloud-box benefits-cloud-left">
          <picture class="benefits-downloads-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/benefits/downloads-desk@1x.png,
                ./img/benefits/downloads-desk@2x.png 2x
              "
            />
            <img
              src="./img/benefits/downloads-mob@1x.png"
              srcset="
                ./img/benefits/downloads-mob@1x.png,
                ./img/benefits/downloads-mob@2x.png 2x
              "
              alt="Downloads icon"
            />
          </picture>
          <p class="benefits-downloads-title">Downloads</p>
          <p class="benefits-downloads-number">50 000 +</p>
        </div>
      </div>
    </div>

    <img
      class="benefits-character"
      src="./img/benefits/img-mob@1x.png"
      srcset="./img/benefits/img-mob@2x.png 2x"
      alt="A cute cartoon-style character with bear-like hairdo."
      width="102"
      height="97"
    />
  </div>
</section>
