<section class="faq" id="faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <div class="faq-items" id="faq-items">
      <!-- Question 01 -->
      <div class="faq-item open">
        <button class="faq-question" type="button">
          <span class="faq-question-text">How do I get more lives?</span>
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>Lives regenerate over time, or they can be purchased.</p>
        </div>
      </div>

      <!-- Question 02 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text"
            >Can I play without an internet connection?</span
          >
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>
            Yes, offline play is available, but some features require a
            connection.
          </p>
        </div>
      </div>

      <!-- Question 03 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text"
            >What are the benefits of connecting to Facebook?</span
          >
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>
            Connecting allows you to save your progress and compete with
            friends.
          </p>
        </div>
      </div>

      <!-- Question 04 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text">How can I get more coins?</span>
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>
            Coins are earned by completing levels or can be bought in the shop.
          </p>
        </div>
      </div>

      <!-- Question 05 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text"
            >Are there any penalties for failing a level?</span
          >
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>
            Failing a level costs one life, but you can retry as many times as
            needed.
          </p>
        </div>
      </div>

      <!-- Question 06 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text"
            >How to use power-ups effectively?</span
          >
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>
            Save power-ups for tougher levels or to meet specific level
            requirements.
          </p>
        </div>
      </div>

      <!-- Question 07 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text"
            >Is there a way to reset the game progress?</span
          >
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>Yes, you can reset your progress in the settings menu.</p>
        </div>
      </div>

      <!-- Question 08 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text">Can children play this game?</span>
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>
            Yes, it's suitable for all ages, offering a family-friendly puzzle
            experience.
          </p>
        </div>
      </div>

      <!-- Question 09 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text"
            >What happens during a game update?</span
          >
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>Updates may add new levels, features, or bug fixes.</p>
        </div>
      </div>

      <!-- Question 10 -->
      <div class="faq-item">
        <button class="faq-question" type="button">
          <span class="faq-question-text"
            >How do I solve a level I’m stuck on?</span
          >
          <img
            class="faq-toggle-icon faq-close-icon"
            src="./img/faq/close@1x.png"
            srcset="./img/faq/close@2x.png 2x"
            alt="Close icon"
            width="40"
            height="40"
          />
          <img
            class="faq-toggle-icon faq-open-icon"
            src="./img/faq/open@1x.png"
            srcset="./img/faq/open@2x.png 2x"
            alt="Open icon"
            width="40"
            height="40"
          />
        </button>
        <div class="faq-answer">
          <p>
            Try different strategies, use power-ups wisely, or look for gameplay
            tips online.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
