<footer class="footer">
  <div class="container footer-container">
    <a
      href="./index.html"
      class="footer-logo"
      aria-label="Go to Candy Planet homepage"
    >
      <img src="./img/logo.svg" /><span class="footer-logo-text"
        >Candy Planet</span
      >
    </a>

    <div class="footer-download">
      <a
        href="https://play.google.com/store/apps/details?id=com.a3fun.candy.match3"
        target="_blank"
        rel="noopener noreferrer"
        class="footer-download-link"
        aria-label="Download on Google Play button"
      >
        <picture class="footer-download-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/footer/btn-desk@1x.png,
              ./img/footer/btn-desk@2x.png 2x
            "
          />
          <img
            src="./img/footer/btn-mob@1x.png"
            srcset="./img/footer/btn-mob@1x.png, ./img/footer/btn-mob@2x.png 2x"
          />
        </picture>
      </a>
      <p class="footer-rights">
        All rights reserved
        <a
          href="https://winninggamequest.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="footer-disclaimer-link"
        >
          winninggamequest.com
        </a>
        | 2024
      </p>
    </div>

    <div class="footer-links">
      <a href="./privacy-policy.html" class="footer-link">Privacy policy</a>
      <a href="./terms-and-conditions.html" class="footer-link"
        >Terms and conditions</a
      >
    </div>
  </div>
</footer>
