<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-swiper-container">
      <div
        id="gallery-swiper-wrapper"
        class="swiper-wrapper gallery-swiper-wrapper"
      ></div>
      <button class="gallery-button gallery-button-prev">
        <img
          class="gallery-button-prev-image"
          src="../img/gallery/btn-left-desk@1x.png"
          srcset="../img/gallery/btn-left-desk@2x.png 2x"
          alt="Arrow left"
          width="80"
          height="80"
        />
      </button>

      <button class="gallery-button gallery-button-next">
        <img
          class="gallery-button-next-image"
          src="../img/gallery/btn-right-desk@1x.png"
          srcset="../img/gallery/btn-right-desk@2x.png 2x"
          alt="Arrow right"
          width="80"
          height="80"
        />
      </button>
    </div>
  </div>
</section>
