<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-swiper-container">
      <div
        id="gallery-swiper-wrapper"
        class="swiper-wrapper gallery-swiper-wrapper"
      >
        <!-- Slide 01 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-01-desk@1x.jpg,
                ./img/gallery/img-01-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-01-mob@1x.jpg"
              srcset="
                ./img/gallery/img-01-mob@1x.jpg,
                ./img/gallery/img-01-mob@2x.jpg 2x
              "
              alt="Candy Planet game start screen featuring a cartoon girl with a bow and a lollipop, surrounded by colorful candies, a rainbow, and a play button in the center. At the bottom, there are houses with snow-covered roofs and buttons for settings, music, and sound."
            />
          </picture>
        </div>

        <!-- Slide 02 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-02-desk@1x.jpg,
                ./img/gallery/img-02-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-02-mob@1x.jpg"
              srcset="
                ./img/gallery/img-02-mob@1x.jpg,
                ./img/gallery/img-02-mob@2x.jpg 2x
              "
              alt="Candy Planet game map screen showing a colorful path with levels marked by pink circles. The top part of the map is icy with crystals and a building, while the bottom part is lush and green with trees and huts. Hearts, timer, and coin indicators are at the top, and navigation buttons are at the bottom."
            />
          </picture>
        </div>

        <!-- Slide 03 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-03-desk@1x.jpg,
                ./img/gallery/img-03-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-03-mob@1x.jpg"
              srcset="
                ./img/gallery/img-03-mob@1x.jpg,
                ./img/gallery/img-03-mob@2x.jpg 2x
              "
              alt="Candy Planet game level screen showing a colorful grid of candies. The top section displays a character's face, move count (25), level number (79), and goal (15/19 candies). The bottom section has icons for power-ups and options, set against a scenic background of mountains and sky."
            />
          </picture>
        </div>

        <!-- Slide 04 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-04-desk@1x.jpg,
                ./img/gallery/img-04-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-04-mob@1x.jpg"
              srcset="
                ./img/gallery/img-04-mob@1x.jpg,
                ./img/gallery/img-04-mob@2x.jpg 2x
              "
              alt="Colorful digital spin wheel game interface with daily rewards set against a whimsical forest background."
            />
          </picture>
        </div>

        <!-- Slide 05 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-05-desk@1x.jpg,
                ./img/gallery/img-05-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-05-mob@1x.jpg"
              srcset="
                ./img/gallery/img-05-mob@1x.jpg,
                ./img/gallery/img-05-mob@2x.jpg 2x
              "
              alt="Mobile Game Interface: Level 169. The screenshot shows a colorful match-three puzzle game on a mobile device. At the top, there’s a character with brown hair and pink attire. The main grid contains hexagons, flowers, and numbered blocks. Move counters, power-up icons, and level goals are displayed below. The background features an icy mountain landscape."
            />
          </picture>
        </div>

        <!-- Slide 06 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-06-desk@1x.jpg,
                ./img/gallery/img-06-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-06-mob@1x.jpg"
              srcset="
                ./img/gallery/img-06-mob@1x.jpg,
                ./img/gallery/img-06-mob@2x.jpg 2x
              "
              alt="Arctic adventure game: snowy landscape, penguins, reindeer, icebergs, and paths to different levels. Timer at 05:00, score 410, plus signs for adding resources, settings icon, and in-game currency."
            />
          </picture>
        </div>

        <!-- Slide 07 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-07-desk@1x.jpg,
                ./img/gallery/img-07-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-07-mob@1x.jpg"
              srcset="
                ./img/gallery/img-07-mob@1x.jpg,
                ./img/gallery/img-07-mob@2x.jpg 2x
              "
              alt="Screenshot of level 202 in a colorful match-three mobile puzzle game featuring various shaped objects to be matched."
            />
          </picture>
        </div>

        <!-- Slide 08 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-08-desk@1x.jpg,
                ./img/gallery/img-08-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-08-mob@1x.jpg"
              srcset="
                ./img/gallery/img-08-mob@1x.jpg,
                ./img/gallery/img-08-mob@2x.jpg 2x
              "
              alt="Colorful cartoon game map with river, bridges, trees, and numbered level icons."
            />
          </picture>
        </div>

        <!-- Slide 09 -->
        <div class="swiper-slide gallery-swiper-slide">
          <picture class="gallery-image">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/img-09-desk@1x.jpg,
                ./img/gallery/img-09-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/gallery/img-09-mob@1x.jpg"
              srcset="
                ./img/gallery/img-09-mob@1x.jpg,
                ./img/gallery/img-09-mob@2x.jpg 2x
              "
              alt="Screenshot of level 145 from a match-three puzzle game showing remaining moves, level goals, colorful icons on the board, locked item areas, and various game interface buttons."
            />
          </picture>
        </div>
      </div>
      <button
        class="gallery-button gallery-button-prev"
        type="button"
        aria-label="Previous slide button"
      >
        <img
          class="gallery-button-prev-image"
          src="./img/gallery/btn-left-desk@1x.png"
          srcset="./img/gallery/btn-left-desk@2x.png 2x"
          width="80"
          height="80"
        />
      </button>

      <button
        class="gallery-button gallery-button-next"
        type="button"
        aria-label="Next slide button"
      >
        <img
          class="gallery-button-next-image"
          src="./img/gallery/btn-right-desk@1x.png"
          srcset="./img/gallery/btn-right-desk@2x.png 2x"
          width="80"
          height="80"
        />
      </button>
    </div>
  </div>
</section>
