<section class="hero">
  <div class="container hero-img-container">
    <h1 class="hero-title">Candy Planet Match 3 Puzzle</h1>
    <picture class="hero-img">
      <source
        media="(min-width: 1440px)"
        srcset="./img/hero/img-desk@1x.png, ./img/hero/img-desk@2x.png 2x"
      />
      <img
        src="./img/hero/img-mob@1x.png"
        srcset="./img/hero/img-mob@1x.png, ./img/hero/img-mob@2x.png 2x"
        alt="Candy Planet logo with a girl and lollipop"
      />
    </picture>
  </div>

  <div class="container hero-button-container">
    <a
      href="https://play.google.com/store/apps/details?id=com.a3fun.candy.match3"
      target="_blank"
      rel="noopener noreferrer"
      class="hero-button-link"
      aria-label="Download on Google Play button"
    >
      <picture class="hero-button-image">
        <source
          media="(min-width: 1440px)"
          srcset="./img/hero/btn-desk@1x.png, ./img/hero/btn-desk@2x.png 2x"
        />
        <img
          src="./img/hero/btn-mob@1x.png"
          srcset="./img/hero/btn-mob@1x.png, ./img/hero/btn-mob@2x.png 2x"
        />
      </picture>
    </a>

    <div class="hero-disclaimer">
      <p class="hero-disclaimer-text">
        <img
          class="hero-disclaimer-icon"
          src="./img/hero/attention-mob@1x.png"
          srcset="./img/hero/attention-mob@2x.png 2x"
          alt="Attention icon"
          width="20"
          height="20"
        />Disclaimer:
      </p>
      <p class="hero-disclaimer-note">
        <a
          href="https://winninggamequest.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-disclaimer-link"
        >
          WINNINGGAMEQUEST.COM
        </a>
        IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS
        GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE GAMES. GAME
        IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS
        GAME!
      </p>
    </div>
  </div>
</section>
