<div class="mobile-menu" style="display: none">
  <div class="mobile-blur"></div>
  <div class="mobile-content">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-item">
        <a href="/candy-planet/" class="mobile-nav-link">Home</a>
      </li>
      <li class="mobile-nav-item">
        <a href="/candy-planet/#reviews" class="mobile-nav-link">Reviews</a>
      </li>
      <li class="mobile-nav-item">
        <a href="/candy-planet/#benefits" class="mobile-nav-link">Benefits</a>
      </li>
      <li class="mobile-nav-item">
        <a href="/candy-planet/#about" class="mobile-nav-link"
          >About the Game</a
        >
      </li>
      <li class="mobile-nav-item">
        <a href="/candy-planet/#gallery" class="mobile-nav-link">Gallery</a>
      </li>
      <li class="mobile-nav-item">
        <a href="/candy-planet/#faq" class="mobile-nav-link">FAQ</a>
      </li>
    </ul>
  </div>
</div>
