<section class="reviews" id="reviews">
  <div class="container reviews-content-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper-container">
      <div
        id="reviews-swiper-wrapper"
        class="swiper-wrapper reviews-swiper-wrapper"
      ></div>
    </div>
  </div>

  <div class="container reviews-image-container">
    <a
      href="https://play.google.com/store/apps/details?id=com.a3fun.candy.match3"
      class="reviews-button-link"
      rel="noopener noreferrer"
      target="_blank"
    >
      <picture class="reviews-button-image">
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/reviews/img-desk@1x.jpg,
            ../img/reviews/img-desk@2x.jpg 2x
          "
        />
        <img
          src="../img/reviews/img-mob@1x.jpg"
          srcset="
            ../img/reviews/img-mob@1x.jpg,
            ../img/reviews/img-mob@2x.jpg 2x
          "
          alt="Game board"
        />
      </picture>
    </a>
  </div>
</section>
