<section class="reviews" id="reviews">
  <div class="container reviews-content-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper-container">
      <div
        id="reviews-swiper-wrapper"
        class="swiper-wrapper reviews-swiper-wrapper"
      >
        <!-- Slide 1 -->

        <div class="swiper-slide">
          <div class="reviews-card">
            <div class="reviews-review">
              <p class="reviews-review-text">
                Absolutely addictive! The levels are challenging but fair, and
                the graphics are gorgeous!
              </p>
              <div class="reviews-stars-container">
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
              </div>
              <img
                class="reviews-triangle"
                width="24"
                height="12"
                src="./img/reviews/reviews-triangle@1x.png"
                srcset="
                  ./img/reviews/reviews-triangle@1x.png 1x,
                  ./img/reviews/reviews-triangle@2x.png 2x
                "
              />
            </div>
            <p class="reviews-review-user">
              <img
                src="./img/reviews/cookie-01@1x.png"
                srcset="
                  ./img/reviews/cookie-01@1x.png 1x,
                  ./img/reviews/cookie-01@2x.png 2x
                "
                alt="Cartoon bread character wearing a chef's hat and red shoes."
              />CandyCrusher99
            </p>
          </div>
        </div>

        <!-- Slide 2 -->

        <div class="swiper-slide">
          <div class="reviews-card">
            <div class="reviews-review">
              <p class="reviews-review-text">
                Love the variety in levels and the special events are super fun!
              </p>
              <div class="reviews-stars-container">
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
              </div>
              <img
                class="reviews-triangle"
                width="24"
                height="12"
                src="./img/reviews/reviews-triangle@1x.png"
                srcset="
                  ./img/reviews/reviews-triangle@1x.png 1x,
                  ./img/reviews/reviews-triangle@2x.png 2x
                "
              />
            </div>
            <p class="reviews-review-user">
              <img
                src="./img/reviews/cookie-02@1x.png"
                srcset="
                  ./img/reviews/cookie-02@1x.png 1x,
                  ./img/reviews/cookie-02@2x.png 2x
                "
                alt="Cartoon bread character wearing a chef's hat and red shoes."
              />SweetSolver
            </p>
          </div>
        </div>

        <!-- Slide 3 -->

        <div class="swiper-slide">
          <div class="reviews-card">
            <div class="reviews-review">
              <p class="reviews-review-text">
                Great way to pass the time. Lots of levels and the updates keep
                it interesting.
              </p>
              <div class="reviews-stars-container">
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
              </div>
              <img
                class="reviews-triangle"
                width="24"
                height="12"
                src="./img/reviews/reviews-triangle@1x.png"
                srcset="
                  ./img/reviews/reviews-triangle@1x.png 1x,
                  ./img/reviews/reviews-triangle@2x.png 2x
                "
              />
            </div>
            <p class="reviews-review-user">
              <img
                src="./img/reviews/cookie-03@1x.png"
                srcset="
                  ./img/reviews/cookie-03@1x.png 1x,
                  ./img/reviews/cookie-03@2x.png 2x
                "
                alt="Cartoon bread character wearing a chef's hat and red shoes."
              />PuzzleMaster45
            </p>
          </div>
        </div>

        <!-- Slide 4 -->

        <div class="swiper-slide">
          <div class="reviews-card">
            <div class="reviews-review">
              <p class="reviews-review-text">
                Can’t stop playing! It’s the perfect mix of fun and challenge
                without being frustrating.
              </p>
              <div class="reviews-stars-container">
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
              </div>
              <img
                class="reviews-triangle"
                width="24"
                height="12"
                src="./img/reviews/reviews-triangle@1x.png"
                srcset="
                  ./img/reviews/reviews-triangle@1x.png 1x,
                  ./img/reviews/reviews-triangle@2x.png 2x
                "
              />
            </div>
            <p class="reviews-review-user">
              <img
                src="./img/reviews/cookie-04@1x.png"
                srcset="
                  ./img/reviews/cookie-04@1x.png 1x,
                  ./img/reviews/cookie-04@2x.png 2x
                "
                alt="Cartoon bread character wearing a chef's hat and red shoes."
              />SugarHigh
            </p>
          </div>
        </div>

        <!-- Slide 5 -->

        <div class="swiper-slide">
          <div class="reviews-card">
            <div class="reviews-review">
              <p class="reviews-review-text">
                This game keeps getting better with every update. Always
                something new to look forward to!
              </p>
              <div class="reviews-stars-container">
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
                <img
                  width="24"
                  height="24"
                  src="./img/reviews/star@1x.png"
                  srcset="
                    ./img/reviews/star@1x.png 1x,
                    ./img/reviews/star@2x.png 2x
                  "
                  alt="Rating star"
                />
              </div>
              <img
                class="reviews-triangle"
                width="24"
                height="12"
                src="./img/reviews/reviews-triangle@1x.png"
                srcset="
                  ./img/reviews/reviews-triangle@1x.png 1x,
                  ./img/reviews/reviews-triangle@2x.png 2x
                "
              />
            </div>
            <p class="reviews-review-user">
              <img
                src="./img/reviews/cookie-05@1x.png"
                srcset="
                  ./img/reviews/cookie-05@1x.png 1x,
                  ./img/reviews/cookie-05@2x.png 2x
                "
                alt="Cartoon bread character wearing a chef's hat and red shoes."
              />Match3Queen
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container reviews-image-container">
    <a
      href="https://play.google.com/store/apps/details?id=com.a3fun.candy.match3"
      class="reviews-button-link"
      rel="noopener noreferrer"
      target="_blank"
      aria-label="Download on Google Play button"
    >
      <picture class="reviews-button-image">
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/reviews/img-desk@1x.jpg,
            ./img/reviews/img-desk@2x.jpg 2x
          "
        />
        <img
          src="./img/reviews/img-mob@1x.jpg"
          srcset="./img/reviews/img-mob@1x.jpg, ./img/reviews/img-mob@2x.jpg 2x"
          alt="Candy Planet game board with colorful candies"
        />
      </picture>
    </a>
  </div>
</section>
