@import './header.scss';
@import './hero.scss';

:root {
  font-family: InriaSerif, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;

  color: #090909;
  background-color: #ffedfe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
