@import url('../../node_modules/swiper/swiper-bundle.min.css');

:root {
  font-family: Inria Serif, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;

  color: #090909;
  background-color: #ffedfe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 320px;
  padding: 0 24px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1440px;
    padding: 0 120px;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex: 1;

  position: relative;
  padding-top: 24px;
  margin-top: -72px;

  @include media(desktop) {
    padding-top: 0;
    margin-top: -100px;
  }
}

.privacy-main,
.terms-main {
  flex: 1;

  margin-top: -72px;

  @include media(desktop) {
    margin-top: -100px;
  }
}

@import './header.scss';
@import './hero.scss';
@import './reviews.scss';
@import './benefits.scss';
@import './about.scss';
@import './gallery.scss';
@import './faq.scss';
@import './footer.scss';
@import './mobile-menu.scss';

@import './privacy.scss';
@import './terms.scss';
